<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"
        ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script defer src="/javascripts/main.js"></script>
        <title><%= title %></title>
    </head>
    <body>
        <nav>
            <div id="logo-nav-background">
                <img src="/images/logoBall.png" alt="logo" />
            </div>
            <a href="/">Home</a>
            <a href="/games">Games</a>
            <a href="/users">My Games</a>
            <a href="/auth/google">Log In</a>
        </nav>
        <main>
            <img class="logo" src="/images/LogoTransp.png" alt="logo" />
            <br />
            <div id="carousel" class="carousel"></div>
            <h5 class="align">Please, log in.</h5>
            <br />
            <br />
            <br />
            <br />
            <%- include("./partials/footer.ejs") %>
        </main>
    </body>
</html>
