<%- include("../partials/header.ejs") %>

<form class="form" action="/login" method="POST">
    <div class="center">
        <label for="email">Email</label>
        <input
            type="email"
            id="email"
            name="email"
            class="validate"
            autocomplete="off"
            required
        />
    </div>
    <div class="center">
        <label for="password">Password</label>
        <input
            type="password"
            id="password"
            name="password"
            class="validate"
            autocomplete="off"
            required
        />
    </div>
    <div class="center">
        <input
            type="submit"
            value="Login"
            class="btn waves-effect waves-light"
        />
    </div>
</form>

<button class="btn waves-effect waves-light">Login with Google</button>

<%- include("../partials/footer.ejs") %>
