    </main>
    <footer>
        <p>
            <a href="https://github.com/suzynakayama" target="_blank"
                ><span>Developed by</span>
                &nbsp;Suzy Yume&nbsp;
                <img src="/images/github.png" alt="github"
            /></a>
        </p>
    </footer>
    </body>
</html>